{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=" 1.0">
    <title>BendTheTrend</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}"> -->

    <script type="text/javascript">
        var user = '{{request.user}}'
        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken')

        function getCookie(name) {
            // Split cookie string and get all individual name=value pairs in an array
            var cookieArr = document.cookie.split(";");

            // Loop through the array elements
            for (var i = 0; i < cookieArr.length; i++) {
                var cookiePair = cookieArr[i].split("=");

                /* Removing whitespace at the beginning of the cookie name
                and compare it with the given string */
                if (name == cookiePair[0].trim()) {
                    // Decode the cookie value and return
                    return decodeURIComponent(cookiePair[1]);
                }
            }

            // Return null if not found
            return null;
        }
        var cart = JSON.parse(getCookie('cart'))

        if (cart == undefined) {
            cart = {}
            console.log('Cart Created!', cart)
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        }
        console.log('Cart:', cart)

    </script>
    <script>(function(w, d) { w.CollectId = "60a4cb8c48f4d437a0f25cff"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.async=true; s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document);</script>
</head>

<body>


    <div class="container">
        <div class="navbar">
            <h1>BendTheTrend</h1>
            <nav>
                <ul id="MenuItems">
                    <li><a href="{% url 'index' %}">HOME</a></li>
                    <li><a href="{% url 'allproducts' %}">PRODUCTS</a></li>
                    <li><a href="{% url 'about' %}">ABOUT</a></li>
                    <li><a href="{% url 'contact' %}">CONTACT</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="#"><b>Hello {{user.username}}</b></a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">LOGIN</a></li>
                    <li><a href="{% url 'register' %}">REGISTER</a></li>
                    {% endif %}
                </ul>
            </nav>
            <!-- <img src="{% static 'images/cart.png' %}" width="30px" height="30px"> -->
            <div class="form-inline my-2 my-lg-0">
                <a href="{% url 'cart' %}">
                    <img id="cart-icon" width="30px" height="30px" src="{% static 'images/cart.png' %}">
                </a>
                <p id="cart-total">{{cartItems}}</p>
            </div>
            <img src="{% static 'images/menu.png' %}" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>

    <!---------------Featured products-------->
    <div class="small-container">
        <div class="row row-2">
            <h2>All Products</h2>
            <select>
                <option>Default</option>
                <option>Sort by price</option>
                <option>Sort by category</option>
                <option>Sort by name</option>
            </select>
        </div>
        <div class="row">
            {% for i in img %}
            <div class="col-lg-4">
                <img src="/media/{{i.image}}" style="width:85%">
                <div class="container">
                    <h4><b>Name: {{i.name}}</b></h4>
                    <h4><b>Price: Rs. {{i.price}}</b></h4>
                    {% if user.is_authenticated %}
                    <form method="POST" action="{% url 'addToCart' %}">
                        {% csrf_token %}
                        <input type="hidden" value="{{i.id}}" name="id">
                        <input class="btn hvr-hover" type="submit" value="AddToCart" x>
                    </form>
                    {% else %}
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <input type="hidden" value="{{i.id}}" name="id">
                        <input class="btn hvr-hover" type="submit" value="AddToCart" x>
                    </form>
                    {% endif %}
                    <!-- <button data-product="{{i.id}}" data-action="add"
                        class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button><br><br> -->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!------footer-------->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and mobile phone</p>
                    <div class="app-logo">
                        <img src="{% static 'images/play-store.png' %}">
                        <img src="{% static 'images/app-store.png' %}">
                    </div>
                </div>

                <div class="footer-col-2">
                    <img src="{% static 'images/logo.jpg' %}">
                    <p>Our Purpose is to sustainably make the pleasure and benefits of our products accessible to the
                        many</p>
                </div>

                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Aboutus</li>
                        <li>Contactus</li>
                        <li>Products</li>
                    </ul>
                </div>

                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
                <p class="copyright">Copyright 2020 - BendTheTrend</p>
            </div>
        </div>
    </div>

    <!---------js for toggle menu----------->
    <script>
        var MenuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px";

        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px";
            }
            else {
                MenuItems.style.maxHeight = "0px";
            }
        }

    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>

</html>